/**--------------
    Dark mode
--------------**/
body {
  background-color: #181d27;
  color: #9ba5b5;
}

p,
li,
a,
label {
  color: #aab2bf !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ced2d9 !important;
}

.gx-btn-primary,
.gx-primary-btn {
  color: #fff !important;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'],
.feature-card {
  background: #181d27;
  color: #ced2d9;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  background: transparent;
}

.gx-card .gx-card-content .note {
  background-color: rgba(255, 104, 132, 0.24);
}

.gx-header .gx-header-items .header-search-box .gx-search {
  background-color: #262e3d;
}

.gx-topic-list ul li .gx-drop-toggle {
  border-bottom: 1px solid #313a4b;
}
.gx-topic-list ul li a.sub-topic {
  background-color: #1e2531 !important;
}

.gx-drop-toggle {
  background-color: #1e2531 !important;
}

.gx-page-link {
  background-color: #1e2531 !important;
}

.nav-tabs {
  border-color: #181d27;
}
.nav-tabs .nav-link {
  color: #9ba5b5;
}
.nav-tabs .nav-link:hover {
  border-color: #181d27;
  color: #9ba5b5;
}
.nav-tabs .nav-link.active {
  background: #181d27;
  border-color: #181d27;
  color: #9ba5b5;
}

.progress {
  background-color: #181d27;
}

.gx-btn-primary:hover,
.gx-primary-btn:hover,
.gx-btn-secondary:hover {
  background-color: #181d27;
}

input {
  color: #aab2bf;
}
input::-webkit-input-placeholder {
  color: #aab2bf !important;
}
input::-moz-placeholder {
  color: #aab2bf !important;
}
input:-ms-input-placeholder {
  color: #aab2bf !important;
}
input::-ms-input-placeholder {
  color: #aab2bf !important;
}
input::placeholder {
  color: #aab2bf !important;
}

.page-item a {
  color: #aab2bf;
}

.page-item.active .page-link {
  color: #ced2d9;
}

.white-mode-logo {
  display: none;
}

.dark-mode-logo {
  display: block;
}

.gx-header {
  background-color: rgba(34, 41, 53, 0.7);
}
.gx-header .gx-header-items .outer-ring {
  border: 1px solid #9ba5b5;
}
.gx-header .gx-header-items .outer-ring .inner-ring {
  background-color: #9ba5b5;
}
.gx-header .gx-header-items .header-search-box input {
  border: 1px solid #313a4b;
  background: #1e2531;
  color: #aab2bf;
}
.gx-header .gx-header-items .header-search-box input:focus {
  border: 1px solid #313a4b;
}
.gx-header .gx-header-items .right-header .gx-hover-drop:hover {
  background-color: #181d27;
}
.gx-header .gx-header-items .right-header .gx-hover-drop .gx-hover-drop-panel {
  background: #262e3d;
}
.gx-header .gx-header-items .right-header .gx-hover-drop .gx-hover-drop-panel .details h6 {
  color: #ced2d9;
}
.gx-header .gx-header-items .right-header .gx-hover-drop .gx-hover-drop-panel .border-top {
  border-color: #313a4b !important;
}
.gx-header .gx-header-items .right-header .gx-hover-drop .gx-hover-drop-panel ul li a {
  color: #aab2bf;
}
.gx-header .gx-header-items .right-header .gx-hover-drop .gx-hover-drop-panel ul li a:hover {
  background-color: #1e2531;
}
.gx-header .gx-header-items .right-header .gx-right-tool > a:hover {
  background-color: #181d27;
}
.gx-header .gx-header-items .right-header .gx-right-tool .title {
  color: #ced2d9;
  border-bottom: 1px solid #313a4b;
}
.gx-header .gx-header-items .right-header .gx-right-tool i {
  color: #9ba5b5;
}

.gx-card .intro .auth-detail {
  background: #181d27;
}

.gx-card {
  background-color: #1e2531;
}
.gx-card .label-card .title .growth-numbers h5 {
  color: #ced2d9;
}
.gx-card .label-card .title h4 {
  color: #9ba5b5;
}
.gx-card .label-card .title .icon i {
  color: #9ba5b5;
}
.gx-card .gx-card-header {
  border-color: #313a4b;
}
.gx-card .gx-card-header .gx-card-title {
  color: #ced2d9;
}
.gx-card .gx-card-header .header-tools > a,
.gx-card .gx-card-header .header-tools .date {
  border-color: #313a4b;
  color: #9ba5b5;
}
.gx-card .gx-card-header .header-tools > a i,
.gx-card .gx-card-header .header-tools .date i {
  color: #9ba5b5;
}
.gx-card .gx-card-header .header-tools .dots {
  border-color: #313a4b;
  color: #9ba5b5;
}
.gx-card .gx-card-header .header-tools .dots i {
  color: #9ba5b5;
}

.dropdown .dropdown-toggle {
  border-color: #9ba5b5;
}
.dropdown .dropdown-toggle i {
  color: #9ba5b5;
}

.dropdown-menu {
  background-color: #262e3d;
}
.dropdown-menu li a {
  color: #9ba5b5 !important;
}
.dropdown-menu li a:hover {
  background-color: #1e2531 !important;
}
.dropdown-menu .dropdown-item {
  color: #9ba5b5 !important;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #1e2531 !important;
}

[data-header-mode-tool='light'] {
  background-color: rgb(255, 255, 255);
}
[data-header-mode-tool='light'] .gx-header-items .right-header .gx-right-tool {
  color: #485568;
}
[data-header-mode-tool='light'] .gx-header-items .right-header .gx-right-tool > a:hover {
  background-color: #e9ecef;
}
[data-header-mode-tool='light'] .gx-header-items .right-header .gx-right-tool > a i {
  color: #485568;
}
[data-header-mode-tool='light'] .gx-header-items .right-header .gx-right-tool i {
  color: #485568;
}
[data-header-mode-tool='light'] .gx-header-items .right-header .gx-hover-drop:hover {
  background-color: #e9ecef;
}
[data-header-mode-tool='light'] .gx-header-items .header-search-box input {
  background: #fff;
  border: 1px solid #eee;
  color: #999;
}
[data-header-mode-tool='light'] .gx-header-items .header-search-box input:focus {
  border: 1px solid #eee;
}

.daterangepicker {
  background-color: #262e3d;
}
.daterangepicker .ranges li {
  color: #9ba5b5;
}
.daterangepicker .ranges li:hover {
  background-color: #1e2531 !important;
}
.daterangepicker .ranges li.active {
  background-color: #1e2531 !important;
  color: #fff !important;
}
.daterangepicker .calendar-table {
  border-color: transparent;
  background-color: #262e3d !important;
}
.daterangepicker .calendar-table td,
.daterangepicker .calendar-table th {
  color: #aab2bf;
  background-color: #262e3d !important;
}
.daterangepicker .calendar-table td span,
.daterangepicker .calendar-table th span {
  border-color: #fff !important;
}
.daterangepicker .calendar-table td:hover,
.daterangepicker .calendar-table th:hover {
  color: #aab2bf;
}
.daterangepicker .calendar-table td.active,
.daterangepicker .calendar-table td.in-range {
  background-color: #181d27 !important;
}
.daterangepicker .drp-selected {
  color: #fff;
}
.daterangepicker .drp-buttons .btn {
  color: #fff;
}
.daterangepicker .drp-buttons {
  border-color: #313a4b;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-color: #313a4b;
}

.calendar .filler {
  background: rgba(24, 29, 39, 0.8) !important;
  border-color: transparent;
}
.calendar .event-container {
  background: rgba(24, 29, 39, 0.8) !important;
  border-color: #313a4b;
}
.calendar .event-container .close:before,
.calendar .event-container .close:after {
  background-color: #fff;
}
.calendar .event-container .event,
.calendar .event-container .event-date {
  color: #aab2bf;
  border-color: #313a4b;
}
.calendar tbody tr td {
  color: #aab2bf;
}
.calendar table {
  border-color: #313a4b;
}
.calendar table td {
  color: #ced2d9;
}
.calendar table th {
  color: #aab2bf !important;
}
.calendar header .simple-calendar-btn {
  border-color: #313a4b;
}
.calendar header .simple-calendar-btn:hover {
  background-color: #181d27;
}
.calendar header .month {
  color: #aab2bf;
}

.gx-map-detail .title {
  border-color: #313a4b;
}
.gx-map-detail .title h5 {
  color: #ced2d9;
}
.gx-map-detail .gx-detail-list .gx-label p {
  color: #aab2bf;
}

thead td {
  border-color: #313a4b !important;
}
thead th {
  color: #ced2d9;
}
thead tr {
  background-color: #181d27;
}

table.dataTable thead .sorting:before {
  color: #ced2d9;
}
table.dataTable td {
  border-color: #313a4b !important;
  color: #aab2bf;
}

.btn-outline-success {
  border-color: #313a4b !important;
  color: #aab2bf;
}
.btn-outline-success:hover {
  border-color: #313a4b !important;
  color: #aab2bf;
}

div.dataTables_wrapper div.dataTables_length select {
  background-color: #181d27;
  border-color: #313a4b;
  color: #aab2bf;
}
div.dataTables_wrapper div.dataTables_filter input {
  background-color: #181d27;
  border-color: #313a4b;
  color: #aab2bf;
}
div.dataTables_wrapper div.dataTables_info {
  color: #aab2bf;
}

.page-item a {
  background-color: #181d27 !important;
  border-color: #313a4b !important;
}

.todo-list .form-group span {
  color: #aab2bf;
}
.todo-list .form-group:not(:last-child) {
  border-color: #313a4b;
}

.gx-tools-sidebar .gx-tools-sidebar-toggle {
  border: 1px solid #313a4b;
  background-color: rgba(255, 255, 255, 0.2);
}

.apexcharts-canvas svg text {
  color: #aab2bf !important;
}

.apexcharts-legend-text {
  color: #aab2bf !important;
}

.apexcharts-xaxis text,
.apexcharts-yaxis text {
  color: #aab2bf !important;
  fill: #aab2bf !important;
}

.gx-card-content .gx-chart-header {
  border: 1px solid #313a4b;
}
.gx-card-content .gx-chart-header .block h5 {
  color: #ced2d9;
}
.gx-card-content .gx-chart-header .block h6 {
  color: #9ba5b5;
}
.gx-card-content .gx-chart-header-2 {
  border-color: #313a4b;
}
.gx-card-content .gx-chart-header-2 .block h5 {
  color: #ced2d9;
}
.gx-card-content .gx-chart-header-2 .block h6 {
  color: #9ba5b5;
}

.activity-list ul li:before {
  border-color: #313a4b;
}
.activity-list ul li .date-time {
  background-color: #181d27;
}
.activity-list ul li .date-time:before {
  border-color: #313a4b;
}
.activity-list ul li .date-time .time {
  border-color: #313a4b;
  color: #aab2bf;
}
.activity-list ul li .date-time .time:before {
  background-color: #313a4b;
}
.activity-list ul li .title {
  color: #ced2d9;
}
.activity-list ul li .detail {
  color: #aab2bf;
}

.gx-page-title .gx-breadcrumb h5 {
  color: #ced2d9;
}
.gx-page-title .gx-breadcrumb ul li {
  color: #aab2bf;
}
.gx-page-title .gx-breadcrumb ul li a {
  color: #aab2bf;
}
.gx-page-title .gx-tools .refresh {
  background-color: #1e2531;
  color: #9ba5b5;
}
.gx-page-title .gx-tools .calendar {
  background-color: #1e2531;
  color: #9ba5b5;
}
.gx-page-title .gx-tools .calendar i {
  color: #9ba5b5;
}
.gx-page-title .gx-tools .filter button {
  background-color: #1e2531;
  border-color: transparent;
}
.gx-page-title .gx-tools .filter button i {
  color: #9ba5b5;
}

.simple-table tr td {
  border-color: #313a4b;
}
.simple-table tr td .title,
.simple-table tr td .users-view {
  color: #ced2d9;
}

input,
.form-control,
textarea {
  background-color: #262e3d;
  border-color: #313a4b;
  color: #9ba5b5;
}
input:focus,
.form-control:focus,
textarea:focus {
  background-color: #262e3d;
  color: #9ba5b5;
  border-color: #313a4b;
}

.card-body-header h6 {
  color: #ced2d9;
}
.card-body-header input {
  border-color: #313a4b;
}

.gx-code {
  border-color: #313a4b;
  background-color: #181d27;
}
.gx-code pre {
  color: #ced2d9;
}
.gx-code pre span {
  color: #ced2d9;
  background-color: #181d27;
}
.gx-code pre code {
  background-color: #181d27;
  color: #ced2d9;
}

.gx-remix-icons .gx-icon-block .remix-icons {
  color: #ced2d9;
}
.gx-remix-icons .gx-icon-block h4,
.gx-remix-icons .gx-icon-block span {
  color: #9ba5b5;
}

.material-icons div {
  border-color: #313a4b;
}
.material-icons div i,
.material-icons div span {
  color: #9ba5b5;
}
.material-icons div code {
  border-color: #313a4b;
}

.mdi-show-code i,
.mdi-show-code span {
  color: #9ba5b5;
}
/*# sourceMappingURL=dark.css.map */
